/*
Color Palette
Primary: #3E5882 rgb(62,18,130)
Secondary: #B9B9B9
Tertiary/Accent Color: #333,#2C3773, #BC5A07


Typography:
Headlines: font-family: 'Orbitron', sans-serif
Body Copy: font-family: 'Sura', serif;

backgrounds:
http://subtlepatterns.com/category/patterns/page/2/

*/

body {
    background-image: url(../img/congruent_outline.png);
    
}
section {
    background-color: rgba(188, 90, 7, .08);
}
main {
    background-color: rgba(0, 0, 0, .25);
}
aside {
    margin-right: 20px;
}
h1 {
    background-color: rgba(188, 90, 7, .04);
    color: #3E5882;
    font-family: 'Orbitron', sans-serif;
    font-size: 6em;
    border-bottom: 10px solid #BC5A07;
   
    font-style: italic;
    border-radius: 5px;
    margin-left:0;
    margin: 20px 0;
    display: block;
}

h2 {
    font-style: italic;
    color: #3E5882;
    font-family: 'Sura', serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    border-radius: 5px;
    border: 6px solid #BC5A07;
}

p {
    color: #B9B9B9;
    font-family: 'Sura', serif;
    font-size: 20px;
}

#bluetruck, #three {
    float: right;
}

img {
    float: left;
    width: 600px;
    top: 0; 
    
}

a {
    border-radius: 2px;
    display: block;
    height:55px;
    width: 100px;
    text-align: center;
    border-bottom: 25px solid #2C3773;  
    border-left: 10px solid #BC5A07;
    
}


li {
    font-family: 'Sura', serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    border: none;
    list-style: none;
    text-align: center;
    float:left;
}

a:link,
a:visited {
    background: #B9B9B9;
    text-decoration: none;
    transition: all .01s;
    padding-top: 0;
   
    text-align: center;
    display: block;
    height: 55px;
    width: 150px;    
    line-height: 27px;
    margin: 15px;
    border-bottom: 15px solid #3E5882;
}

a:visited {
    color: #BC5A07;
}

a:link {
    color: #3E5882;
}
footer {
    color: #BC5A07;
}
a:focus,
a:hover,
a:active {  
border-bottom: 27px solid  #B9B9B9;
background-color: #3E5882;
color: #3E5882;
line-height: 27px;
padding-top: 27px;
text-decoration: none;
transition: .01s;
margin-bottom: 10px   
}